@import 'utils/design';

body {
	@include flex-col;
	background: $dbg-01;

	* {
		max-width: 100%;
		max-height: 100%;

		font-size: 16px;
		font-weight: 200;
		font-family: 'Montserrat', sans-serif;
	}

	h1,h2,h3,h4,h5,h6 {
		margin: 0;
		padding: 0;
	}
}

.bank-application {
	@include flex-col;
	width: 90vw;

	.bank-user-list {
		gap: 24px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;

		.bank-user {
			gap: 12px;
			padding: 16px 24px;
			min-height: 72px;

			display: flex;
			flex-flow: column nowrap;
			border-radius: 8px;
			
			color: $txt-03;
			background: $dbg-02;
			box-shadow: 0px 4px 8px 4px $sh-03;

			h3 {
				color: $txt-04;
				font-size: 14px;
			}

			.owner-info {
				@include flex-row;
				gap: 8px;
				flex-grow: 1;
				justify-content: flex-start;

				img {
					width:  24px;
					height: 24px;
					border-radius: 32px;
				}

				h2 {
					color: $txt-05;
					font-size: 14px;
				}
			}
		}
	}
}